.button_primary {
  position: relative;
  overflow: hidden;
  line-height: min(3rem, 3.5vw);
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1rem;
  background: var(--accent-color);
  background-size: 400%;
  color: #fff;
  border: none;
}

.button_primary:hover {
  cursor: pointer;
  transform: translateY(-2px);
  border-bottom: solid 2px var(--tertiary-color);
}

.button_primary:hover::before {
  filter: blur(0px);
  opacity: 1;
}

.button_primary::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(10px);
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    var(--tertiary-color) 15%,
    var(--accent-color) 95%
  );
  transition: all 0.5s;
}

.button_content {
  position: relative;
  z-index: 1;
}
