.button_secondary {
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button_secondary {
  color: var(--secondary-color);
}

.button_secondary.light:focus,
.button_secondary.light:hover {
  color: var(--primary-color);
}

.button_secondary.dark:focus,
.button_secondary.dark:hover {
  color: var(--accent-color);
}

.button_secondary:focus:after,
.button_secondary:hover:after {
  width: 100%;
  left: 0%;
}

.button_secondary:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.button_secondary.light:after {
  background-color: var(--primary-color);
}

.button_secondary.dark:after {
  background-color: var(--tertiary-color);
}
