.button_primary {
  position: relative;
  overflow: hidden;
  line-height: min(3rem, 3.5vw);
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1rem;
  color: #fff;
}

.button_primary:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
