@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* style for fonts */
.font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  letter-spacing: 0.2px;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* style for font sizes */
.header-style {
  font-size: xx-large;
  text-align: center;
}

/* style for font weight */
.font-style-xsm {
  font-weight: 200;
}
.font-style-sm {
  font-weight: 300;
}
.font-style-md {
  font-weight: 400;
}
.font-style-lg {
  font-weight: 500;
}
.font-style-xlg {
  font-weight: 600;
}

/* style for text sizes */
.text-screen-header {
  font-size: 200px;
}

.text-screen-subheader {
  font-size: 150px;
}

.text-size-3xlg {
  font-size: 30px;
}

.text-size-xlg {
  font-size: 24px;
}

.text-size-lg {
  font-size: 20px;
}

.text-size-xmd {
  font-size: 18px;
}

.text-size-md {
  font-size: 16px;
}

.text-size-sm {
  font-size: 14px;
}

.text-size-xsm {
  font-size: 12px;
}

.text-size-2xsm {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .text-screen-header {
    font-size: 150px;
  }

  .text-screen-subheader {
    font-size: 100px;
  }

  .text-size-3xlg {
    font-size: 26px;
  }

  .text-size-xlg {
    font-size: 20px;
  }

  .text-size-lg {
    font-size: 18px;
  }

  .text-size-xmd {
    font-size: 16px;
  }

  .text-size-md {
    font-size: 14px;
  }

  .text-size-sm {
    font-size: 12px;
  }

  .text-size-xsm {
    font-size: 10px;
  }

  .text-size-2xsm {
    font-size: 8px;
  }
}
