@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar 
body::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: transparent;
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-corner {
  background: transparent;
}*/

/* Estilos para impressão */
@media print {
  body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 12pt;
  }
}

/*--------------- CORPO ----------------*/
/*--------------- DIVS GERAIS ----------------*/

.full-div {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.flex-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/*--------------- logos ----------------*/
.logo {
  width: auto;
  height: 350px;
}

.logoDev {
  width: auto;
  height: 20px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/*--------------- COLORS ----------------*/

.GREEN {
  color: #22c55e;
  border-color: #22c55e;
}

.RED {
  color: #ef4444;
  border-color: #ef4444;
}

.YELLOW {
  color: #eab308;
  border-color: #eab308;
}

.GREY {
  color: #808080;
  border-color: #808080;
}

.PURPLE {
  color: #708dd9;
  border-color: #708dd9;
}

.TEXT_WHITE {
  color: white !important;
}

.TEXT_BLACK {
  color: black !important;
}

/*--------------- ROUNDED ----------------*/

.border-rounded:not(.right-rounded):not(.left-rounded):not(.remove-rounded) {
  border-radius: 1rem !important;
}

.border-rounded.right-rounded {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.border-rounded.left-rounded {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.border-rounded.remove-rounded {
  border-radius: 0 !important;
}
/*--------------- FILTERS ----------------*/

.logo_filter {
  filter: brightness(0) saturate(100%) invert(71%) sepia(19%) saturate(1153%)
    hue-rotate(192deg) brightness(91%) contrast(89%);
}

.light_filter {
  filter: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(1271%)
    hue-rotate(175deg) brightness(93%) contrast(84%);
}

.dark_filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(102%) contrast(102%);
}

/*--------------- DATE PICKER ----------------*/

.custom-date-picker::-webkit-inner-spin-button,
.custom-date-picker::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-date-picker {
  appearance: none;
  background-color: #ded8ff30;
  border: 1px solid;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.custom-date-picker:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(118, 106, 240, 0.5);
}

.textBreak {
  display: inline-block;
  width: 200px; /* Set your desired width */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
