@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar */
body::-webkit-scrollbar {
  width: 0px;
}

/* Hide the scrollbar track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Hide the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Hide the scrollbar buttons */
body::-webkit-scrollbar-button {
  display: none;
}

/* Hide the scrollbar corner */
body::-webkit-scrollbar-corner {
  background: transparent;
}

/*--------------- CORPO ----------------*/
/*--------------- DIVS GERAIS ----------------*/

.full-div {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.flex-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

/*--------------- logos ----------------*/
.logo {
  width: auto;
  height: 350px;
}

.logoDev {
  width: auto;
  height: 20px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/*--------------- COLORS ----------------*/

.GREEN {
  color: #00b400;
}

.RED {
  color: #ff0000;
}

.YELLOW {
  color: #e0a500;
}

.GREY {
  color: #808080;
}

.PURPLE {
  color: #708dd9;
}

.TEXT_WHITE {
  color: white !important;
}

.TEXT_BLACK {
  color: black !important;
}

/*--------------- ROUNDED ----------------*/

.border-rounded:not(.right-rounded):not(.left-rounded) {
  border-radius: 1rem !important;
}

.border-rounded.right-rounded {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.border-rounded.left-rounded {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

/*--------------- FILTERS ----------------*/

.logo_filter {
  filter: brightness(0) saturate(100%) invert(71%) sepia(19%) saturate(1153%)
    hue-rotate(192deg) brightness(91%) contrast(89%);
}

.light_filter {
  filter: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(1271%)
    hue-rotate(175deg) brightness(93%) contrast(84%);
}

.dark_filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(102%) contrast(102%);
}
